.buttons {
	display: flex;
	align-items: center;
	list-style: none;
	justify-content: flex-start;
	line-height: 24px;
	vertical-align: middle;
	
	@media (min-width: $screen-lg) {
		flex-wrap: wrap;
	}

	&__item {
		padding-left: 16px;

		@media (min-width: $screen-lg) {
			padding-left: 32px;
		}

		&:first-child {
			padding-left: 0px;
		}

		&--side {
				padding-left: 0;
				flex-basis: 32px;
		}		

		&--to-tail {
			margin-left: auto;
		}
	}
}



