@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("../fonts/TTLakes/TTLakes-Regular"), url("../fonts/TTLakes/TTLakes-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes/TTLakes-Regular.woff") format("woff"), url("../fonts/TTLakes/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("../fonts/TTLakes/TTLakes-Bold"), url("../fonts/TTLakes/TTLakes-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes/TTLakes-Bold.woff") format("woff"), url("../fonts/TTLakes/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes/TTLakes-Thin.eot");
  src: local("TT Lakes Thin"), local("../fonts/TTLakes/TTLakes-Thin"), url("../fonts/TTLakes/TTLakes-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/TTLakes/TTLakes-Thin.woff") format("woff"), url("../fonts/TTLakes/TTLakes-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
.html {
  width: 100vw;
  overflow-x: hidden;
  font-size: 14px;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "TT Lakes", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  list-style: none;
  letter-spacing: -0.2px;
}
@media (min-width: 768px) {
  .page {
    line-height: 20px;
  }
}
@media (min-width: 992px) {
  .page {
    flex-direction: row;
    width: auto;
  }
}
.page__header {
  width: auto;
  min-height: 88px;
  flex: 0 1 88px;
}
.page__main {
  margin-top: 42px;
  flex: 1 1 auto;
}

.header {
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 3px 0px #d9fff5;
  background-color: #ffffff;
  padding: 0px 16px;
  z-index: 20;
}
@media (min-width: 768px) {
  .header {
    padding: 0px 24px;
  }
}
@media (min-width: 992px) {
  .header {
    align-items: flex-start;
    box-shadow: none;
    padding: 0;
  }
}
.header__right-side {
  margin-left: auto;
  margin-block: 0;
  padding-inline: 0;
}
@media (min-width: 992px) {
  .header__right-side {
    position: absolute;
    top: 42px;
    right: 30px;
  }
}
.header__separator {
  margin-left: 16px;
}
@media (min-width: 0) {
  .header__elem--hidden--xs {
    position: absolute;
    top: -100%;
  }
}
@media (min-width: 576px) {
  .header__elem--hidden--xs {
    position: relative;
    top: 0;
  }
}
@media (min-width: 576px) {
  .header__elem--hidden--sm {
    position: absolute;
    top: -100%;
  }
}
@media (min-width: 768px) {
  .header__elem--hidden--sm {
    position: relative;
    top: 0;
  }
}
@media (min-width: 768px) {
  .header__elem--hidden--md {
    position: absolute;
    top: -100%;
  }
}
@media (min-width: 992px) {
  .header__elem--hidden--md {
    position: relative;
    top: 0;
  }
}
@media (min-width: 992px) {
  .header__elem--hidden--lg {
    position: absolute;
    top: -1000%;
  }
}
@media (min-width: 992px) {
  .header__elem--poping--lg {
    position: relative;
    top: 100%;
  }
}
.header__text {
  padding-right: 8px;
}

.nav__list {
  display: block;
  margin: 0;
  margin-block: 0;
  padding-inline: 0;
  padding: 0;
  /* background-color: blue; */
}

.separator {
  display: block;
  /* background: #000000; */
  background: #eaeaea;
  border-radius: 1px;
  height: 32px;
  width: 2px;
}

.buttons {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-start;
  line-height: 24px;
  vertical-align: middle;
  padding: 0px;
}
@media (min-width: 992px) {
  .buttons {
    flex-wrap: wrap;
  }
}
.buttons__item {
  padding-left: 16px;
}
@media (min-width: 992px) {
  .buttons__item {
    padding-left: 32px;
  }
}
.buttons__item--less-first-field {
  padding-left: 0px;
}
.buttons__item--side {
  padding-left: 0;
  flex-basis: 32px;
}
.buttons__item--to-tail {
  margin-left: auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
}
.button__area {
  display: block;
  border: none;
  width: 40px;
  height: 40px;
}
.button__area:hover {
  filter: saturate(50%);
}
.button__accessibility {
  opacity: 0;
  padding: 0;
  border: 0;
}
.button__check {
  position: absolute;
  opacity: 0;
  margin: 0;
}
.button__check:focus + label {
  border: none;
  outline: auto 1px;
  outline: -webkit-focus-ring-color auto 1px;
}
.button__check:checked ~ .menu {
  display: block;
}
.button__preimage {
  max-width: 184px;
  height: 32px;
}
.button--main-page {
  padding: 0px 16px;
  box-sizing: border-box;
  height: 40px;
  white-space: nowrap;
  border: 2px solid transparent;
  letter-spacing: -0.2px;
}
.button--main-page:hover {
  background: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}
.button--brands-list {
  display: flex;
  justify-content: space-between;
  margin: 16px 0px 40px 16px;
  align-items: center;
  box-sizing: border-box;
  height: 72px;
  width: 240px;
  background: #ffffff;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  flex-shrink: 0;
  padding: 16px;
}
.button--width--full {
  width: 100%;
}
.button--e-mail {
  font: 16px/24px "TT Lakes", sans-serif;
  margin-top: 16px;
  justify-content: flex-start;
}
.button--phone {
  font: 24px/32px "TT Lakes", sans-serif;
  margin-top: 12px;
  justify-content: flex-start;
}
.button--lang {
  font: 16px/24px "TT Lakes", sans-serif;
  text-transform: uppercase;
  margin-top: 8px;
  margin-right: 7px;
  margin-bottom: 32px;
}

.logo {
  display: block;
}

.logo__img {
  display: block;
}

.icon {
  display: flex;
  border-radius: 50%;
  background: #ff3e79;
}
.icon__image {
  display: block;
  margin: auto;
}
.icon--brands {
  background-color: transparent;
  border: 2px solid #ff3e79;
  box-sizing: border-box;
  border-radius: 50%;
  padding-left: 15px;
  padding-right: 13px;
}

.main {
  padding: 0;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}

.text-header-first {
  flex: 0 1 40px;
  font-size: 2rem;
  line-height: 40px;
  padding: 24px 16px 0px;
  margin: 0;
  letter-spacing: -0.6px;
}
@media (min-width: 768px) {
  .text-header-first {
    flex-basis: 100%;
    align-self: flex-start;
    padding: 24px 24px 0px;
  }
}
@media (min-width: 992px) {
  .text-header-first {
    padding: 0 32px;
  }
}
.text-header-first::before {
  content: "";
  position: absolute;
  left: -4px;
  height: 40px;
  border-right: 4px solid #41f6d7;
  border-left: 4px solid transparent;
  border-radius: 4px;
}

.menu {
  padding: 24px 16px 0px;
  flex: 0 1 40px;
}
.menu__list {
  margin: 0px;
  padding: 0px;
}
.menu__list--side {
  flex-direction: column;
  padding-left: 16px;
  align-items: flex-start;
}
@media (min-width: 768px) {
  .menu__list--side {
    padding-left: 24px;
  }
}
.menu__field {
  position: absolute;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 100%;
  background-color: white;
  padding-left: 0;
  transform: translateX(-100%);
  transition: 0.7s;
}
@media (min-width: 992px) {
  .menu__field {
    position: relative;
    visibility: visible;
    transform: translateX(0px);
    height: 100vh;
  }
}
.menu__check:checked ~ .menu__field {
  visibility: visible;
  transform: translateX(0px);
}
.menu__header {
  display: flex;
  min-height: 88px;
  padding: 0px 16px;
}
@media (min-width: 768px) {
  .menu__header {
    padding: 0px 24px;
  }
}
.menu__logo {
  margin-left: 56px;
}
@media (min-width: 992px) {
  .menu__logo {
    margin-left: -2px;
  }
}
.menu__label {
  z-index: 1;
}
@media (min-width: 992px) {
  .menu__label--hidden--lg {
    position: absolute;
    top: -1000px;
  }
}
.menu__label-text {
  position: absolute;
  opacity: 0;
}
.menu__item {
  min-height: 32px;
  padding-top: 16px;
  letter-spacing: -0.2px;
}
.menu__item:first-of-type {
  padding-top: 4px;
}
.menu__item--active::before {
  content: "";
  position: absolute;
  left: -4px;
  height: 32px;
  border-right: 4px solid #41f6d7;
  border-left: 4px solid transparent;
  border-radius: 4px;
}
.menu__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-left: 16px;
  align-content: flex-end;
  flex: 1;
}
.menu__item-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.menu__icon {
  width: 100%;
  padding: 19px;
  padding-left: 11px;
}
.menu__icon-line {
  display: block;
  width: 10px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
  transition: 0.7s;
}
.menu__icon-line::before {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
  transform: translateY(-7px);
  transition: 0.7s;
}
.menu__icon-line::after {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
  transform: translateY(5px);
  transition: 0.7s;
}
.menu__check:checked ~ .menu__label > .menu__icon > .menu__icon-line {
  transform-origin: 9px 1px;
  background-color: transparent;
}
.menu__check:checked ~ .menu__label > .menu__icon > .menu__icon-line::before {
  transform-origin: 11px 1px;
  width: 22px;
  transform: translate(-2px, 0px) rotate(45deg);
}
.menu__check:checked ~ .menu__label > .menu__icon > .menu__icon-line::after {
  transform-origin: 11px 1px;
  width: 22px;
  transform: translate(-2px, -2px) rotate(-45deg);
}
.menu--side {
  padding: 0;
  z-index: 20;
}

.text-main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}
@media (min-width: 768px) {
  .text-main {
    flex-direction: row;
    padding: 32px 24px 0px;
  }
}
@media (min-width: 992px) {
  .text-main {
    padding: 10px 32px 0px;
  }
}
.text-main__read-more-label {
  z-index: 10;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 16px;
}
@media (min-width: 768px) {
  .text-main__read-more-label {
    padding: 0px;
    flex-basis: 360px;
  }
}
.text-main__read-more-check {
  position: absolute;
  left: -100px;
}
.text-main__read-more-check:checked ~ .text-main__text, .text-main__read-more-check:checked ~ .text-main__read-more-text {
  /* flex: 0 1 auto; */
  max-height: none;
}
.text-main__text {
  overflow: hidden;
  order: 1;
  max-height: 90px;
}
@media (min-width: 768px) {
  .text-main__text {
    max-height: 160px;
    padding-right: 48px;
  }
}
.text-main__read-more-text {
  position: relative;
  order: 2;
  /* flex: 74 1 0; */
  font-size: 16px;
  line-height: 24px;
  padding-top: 16px;
  padding-left: 32px;
  letter-spacing: -0.1px;
}
.text-main__read-more-text::before {
  position: absolute;
  content: url(../icons/readMore.svg);
  height: 24px;
  left: 9px;
  top: 26px;
  margin: -10px;
}
.text-main__decorate-img {
  padding: 16px 0 24px 0;
}
@media (min-width: 768px) {
  .text-main__decorate-img {
    flex: 1 1 360px;
    padding: 0;
    overflow: hidden;
  }
}
.text-main__parag {
  margin: 0px;
  letter-spacing: 0.2px;
}

.manage-img {
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .manage-img {
    justify-content: flex-end;
  }
}
.manage-img__img {
  height: 176px;
  margin: auto;
}
@media (min-width: 768px) {
  .manage-img__img {
    height: 208px;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .manage-img__img {
    height: 307px;
    margin: 0;
  }
}

.text-header-second {
  font-size: 16px;
  line-height: 24px;
  padding: 16px;
  padding-top: 15px;
  margin: 0;
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
  text-transform: uppercase;
  letter-spacing: -0.2px;
  color: #7E7E82;
  font-weight: normal;
  border-top: solid 1px #D9FFF5;
}
@media (min-width: 768px) {
  .text-header-second {
    padding: 16px 24px;
  }
}
@media (min-width: 992px) {
  .text-header-second {
    padding: 16px 32px;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.brands-list__pagination {
  bottom: 0;
}

/*# sourceMappingURL=styles.css.map */
