.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;


	&__area {
		display: block;
		border: none;
		width: 40px;
		height: 40px;

		&:hover {
			filter: saturate(50%);
		}
	}

	&__accessibility {
		opacity: 0;
		padding: 0;
		border: 0;
	}

	&__check {
		position: absolute;
		// top: 200px;
		opacity: 0;
		margin: 0;

		&:focus + label {
			border: none;
			outline: auto 1px;
			outline: -webkit-focus-ring-color auto 1px;
		}

		&:checked ~ .menu {
			display: block;
		}
	}

	&__preimage {
		max-width: 184px;
		height: 32px;
	}

	&--main-page {
		padding: 0px 16px;
		box-sizing: border-box;
		height: 40px;
		white-space: nowrap;
		border: 2px solid transparent;
		letter-spacing: -0.2px;

		&:hover{
			background: #ffffff;
			border: 2px solid #b8ffec;
			border-radius: 6px;
		}
	}

	&--brands-list {
		display: flex;
		justify-content: space-between;	
		margin: 16px 0px 40px 16px;
		align-items: center;
		box-sizing: border-box;
		height: 72px;	
		width: 240px;
		background: #ffffff;
		border: 1px solid #EAEAEA;
		border-radius: 6px;
		flex-shrink: 0;
		padding: 16px;
	}
	 
	&--width--full {
		width: 100%;
	}

	&--e-mail {
		font: 16px/24px $font-family;
		margin-top: 16px;
		justify-content: flex-start;
	}

	&--phone {
		font: 24px/32px $font-family;
		margin-top: 12px;
		justify-content: flex-start;
	}

	&--lang {
		font: 16px/24px $font-family;
		text-transform: uppercase;
		margin-top: 8px;
		margin-right: 7px;
		margin-bottom: 32px;

	}

}






