.menu {
	padding: 24px 16px 0px;
	flex: 0 1 40px;

	@media (min-width:$screen-presm) {
		padding: 32px 24px 0px;
	}
	
	@media (min-width:$screen-lg) {
		padding: 2px 34px 0px;
	}

	&__list {
		margin: 0px ;
		padding: 0px;

		&--side {
			flex-direction: column;
			padding-left: 16px;
			align-items: flex-start;

			@media (min-width: $screen-presm) {
				padding-left: 24px;
			}
		}
	}

	&__field {
		position:absolute;
		visibility: hidden;
		display: flex;
		flex-direction: column;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100%;
		background-color: white;
		// border: solid 1px gold;
		padding-left: 0;
		transform: translateX(-100%);
		transition: 0.7s;

		@media (min-width: $screen-md) {
			width: 320px;
			box-shadow:  16px 0px 52px rgba(14, 24, 80, 0.2);;
		}

		@media (min-width: $screen-lg) {
			position: relative;
			visibility: visible;
			transform: translateX(0px);
			height: 100vh;
			box-shadow: none;
		}
	}

	&__check:checked ~ .menu__field {
		visibility: visible;
		transform: translateX(0px);
	}

	&__header {
		display: flex;
		min-height: 88px;
		padding: 0px 16px;
		align-items: center;

		@media (min-width:$screen-presm) {
			padding: 0px 24px;
		}

		@media (min-width: $screen-md) {
			padding: 0px 24px;	
		}

		@media (min-width: $screen-lg) {
			min-height: 110px;
		}
	}

	&__logo {
		margin-left: 56px;

		@media (min-width:$screen-presm) {
			width: 105px;
			height: 55px;
		}


		@media (min-width: $screen-md) {
			width: auto;
			height: auto;
		}

		@media (min-width: $screen-lg) {
			margin-left: -2px;	
		}
	}

	&__label {
		z-index: 1;

		&--hidden--lg {
			@media (min-width: $screen-lg) {
				position: absolute;
				top: -1000px;
			}
		}
	}

	&__label-text {
		position: absolute;
		opacity: 0;
	}

	&__item {
		min-height: 32px;
		padding-top: 16px;
		letter-spacing: -0.1px;

		@media (min-width: $screen-md) {
			min-height: min-content;
			padding-top: 32px;
		}

		@media (min-width: $screen-lg) {
			min-height: min-content;
			padding-top: 25.5px;
			height: 24px;
		}

		&:first-of-type {
			padding-top: 4px;	

			@media (min-width: $screen-md) {
				min-height: min-content;
				padding-top: 32px;
				height: 24px;
			}

			@media (min-width: $screen-lg) {
				min-height: min-content;
				padding-top: 8px;
				height: 24px;
			}


		}

		&--active {

			color: #7E7E82;

			&::before {
				content: "";
				position: absolute;
				left: -4px;
				height: 32px;
				border-right: 4px solid #41f6d7;
				border-left: 4px solid transparent;
				border-radius: 4px;
			}
		}
	}

	&__footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: start;
		padding-left: 16px;
		align-content: flex-end;
		flex: 1;

		@media (min-width:$screen-presm ) {
			padding-left: 24px;
		}
	}

	&__item-container {
		height: 100vh;
		display: flex;
		flex-direction: column;
	}

	&__icon {
		width: 100%;
		padding: 19px;
		padding-left: 11px;
	}

	&__icon-line {
		display: block;
		width: 10px;
		height: 2px;
		border-radius: 1px;
		background-color: #fff;
		transition: 0.7s;

		&::before {
			content: '';
			display: block;
			width: 18px;
			height: 2px;
			border-radius: 1px;
			background-color: #fff;
			transform: translateY(-7px);
			transition: 0.7s;
		}

		&::after {
			content: '';
			display: block;
			width: 14px;
			height: 2px;
			border-radius: 1px;
			background-color: #fff;
			transform: translateY(5px);
			transition: 0.7s;
		}
	}

	&__check:checked ~ .menu__label>.menu__icon>.menu__icon-line {
		transform-origin: 9px 1px;
		background-color: transparent;
	} 

	&__check:checked ~ .menu__label>.menu__icon>.menu__icon-line::before {
		transform-origin: 11px 1px;
		width: 22px;
		transform: translate(-2px,0px) rotate(45deg);
	} 

	&__check:checked ~ .menu__label>.menu__icon>.menu__icon-line::after {
		transform-origin: 11px 1px;
		width: 22px;
		transform: translate(-2px,-2px) rotate(-45deg);
	} 


	&--side {
		padding: 0;
		z-index: 20;
	}
}



