.header {
	// position: relative;
	display: flex;
	align-items: center;
	box-shadow: 0px 1px 3px 0px #d9fff5;
	background-color: $color-header-back;
	padding: 0px 16px;

	@media (min-width: $screen-md) {
		padding: 0px 24px;
	}

	@media (min-width: $screen-lg) {
		align-items: flex-start;
		padding: 42px 32px 0px;
		background-color: transparent;
		box-shadow: none; 
	}

  
    &__right-side {
        margin-left: auto;
        margin-block: 0;
        padding-inline: 0;
    }

    &__separator {
        margin-left: 16px;
    }

    &__elem--hidden--xs {
    	@media (min-width: $screen-xs) {
			position: absolute;
			top: -100%;
		}
		@media (min-width: $screen-md) {
			position: relative;
			top: 0;
		}
    }

	&__elem--hidden--sm {
		@media (min-width: $screen-md) {
			position: absolute;
			top: -100%;
		}
		@media (min-width: $screen-lg) {
			position: relative;
			top: 0;
		}
	}

	&__elem--hidden--lg {
		@media (min-width: $screen-lg) {
			position: absolute;
			top: -100%;
		}
		// @media (min-width: $screen-xl) {
		// 	position: relative;
		// 	top: 0;
		// }
	}
	&__elem--poping--lg {
		@media (min-width: $screen-lg) {
			position: relative;
			top: 100%;
		}
	}

	&__text {
		padding-right: 8px;
	}
}


